# https://github.com/ChakkalaSiri/AIMLWorkShop

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import sklearn
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, f1_score

In [2]:
data = pd.read_csv("/content/LoanPrediction.csv.csv")

In [3]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [5]:
data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [7]:
missing_values = data.isnull().sum()
print("Missing values : ")
print(missing_values)

Missing values :
Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [9]:
data.drop(["Loan_ID"],axis=1, inplace=True)

In [11]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [12]:
data["Gender"] = data["Gender"].map({"Female":0,"Male":1})

In [13]:
data["Education"]= data["Education"].map({"Graduate":1, "Not Graduate":0})

In [14]:
data["Married"] = data["Married"].map({"Yes":1,"No":0})

In [15]:
data["Self_Employed"]=data["Self_Employed"].map({"Yes":1, "No":0})

In [16]:
data["Property_Area"]=data["Property_Area"].map({"Urban":2,"Semiurban":1, "Rural":0})

In [17]:
data["Loan_Status"]=data["Loan_Status"].map({'Y':1, "N":0})

In [18]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,2,1
1,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,0,0
2,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,2,1
3,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,2,1
4,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,2,1

In [19]:
missing_values

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [20]:
data["Gender"]=data["Gender"].fillna(data["Gender"].mode()[0])

In [21]:
data['Married'] = data['Married'].fillna(data['Married'].mode()[0])

In [22]:
data['Dependents']=data['Dependents'].str.replace('+','')

In [23]:
data['Dependents'] = data['Dependents'].fillna(data['Dependents'].mode()[0])

In [24]:
data['Self_Employed'] = data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [25]:
data['LoanAmount'] = data['LoanAmount'].fillna(data['LoanAmount'].mode()[0])

In [26]:
data['Loan_Amount_Term'] = data['Loan_Amount_Term'].fillna(data['Loan_Amount_Term'].mode()[0])

In [27]:
data['Credit_History'] = data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [28]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    float64
 1   Married            614 non-null    float64
 2   Dependents         614 non-null    object
 3   Education          614 non-null    int64
 4   Self_Employed      614 non-null    float64
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    float64
 7   LoanAmount         614 non-null    float64
 8   Loan_Amount_Term   614 non-null    float64
 9   Credit_History     614 non-null    float64
 10  Property_Area      614 non-null    int64
 11  Loan_Status        614 non-null    int64
dtypes: float64(7), int64(4), object(1)
memory usage: 57.7+ KB

In [30]:
#changing the datype of each float column to int
data['Gender']=data['Gender'].astype('int64')
data['Married']=data['Married'].astype('int')
data['Dependents']=data['Dependents'].astype('int64')
data['Self_Employed']=data['Self_Employed'].astype('int64')
data['CoapplicantIncome']=data['CoapplicantIncome'].astype('int64')
data['LoanAmount']=data['LoanAmount'].astype('int64')
data['Loan_Amount_Term']=data['Loan_Amount_Term'].astype('int64')
data['Credit_History']=data['Credit_History'].astype('int64')

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             614 non-null    int64
 1   Married            614 non-null    int64
 2   Dependents         614 non-null    int64
 3   Education          614 non-null    int64
 4   Self_Employed      614 non-null    int64
 5   ApplicantIncome    614 non-null    int64
 6   CoapplicantIncome  614 non-null    int64
 7   LoanAmount         614 non-null    int64
 8   Loan_Amount_Term   614 non-null    int64
 9   Credit_History     614 non-null    int64
 10  Property_Area      614 non-null    int64
 11  Loan_Status        614 non-null    int64
dtypes: int64(12)
memory usage: 57.7 KB

In [32]:
from imblearn.combine import SMOTETomek

In [33]:
smote = SMOTETomek(sampling_strategy=0.9)

In [34]:
#dividing the dataset into dependent and independent y and x respectively
y = data['Loan_Status']
x = data.drop(columns=['Loan_Status'],axis=1)

In [35]:
x.shape

(614, 11)

In [36]:
y.shape

(614,)

In [37]:
x_bal,y_bal = smote.fit_resample(x,y)

In [38]:
print(y.value_counts())
print(y_bal.value_counts())

Loan_Status
1    422
0    192
Name: count, dtype: int64
Loan_Status
1    350
0    307
Name: count, dtype: int64

In [39]:
names = x_bal.columns

In [40]:
sc=StandardScaler()
x_bal=sc.fit_transform(x_bal)

In [41]:
x_bal = pd.DataFrame(x_bal,columns=names)

In [42]:
X_train, X_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size=0.33, random_state=42)

In [43]:
X_train.shape

(440, 11)

In [44]:
X_test.shape

(217, 11)

In [45]:
y_train.shape, y_test.shape

((440,), (217,))

In [46]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

def decisionTree(X_train, X_test, y_train, y_test):
    model = DecisionTreeClassifier(
        max_depth=5,
        min_samples_split=10,
        min_samples_leaf=5,
        random_state=42
    )
    model.fit(X_train, y_train)

    # Training accuracy
    y_tr = model.predict(X_train)
    print("Training Accuracy:", accuracy_score(y_tr, y_train))

    # Test accuracy
    yPred = model.predict(X_test)
    print("Test Accuracy:", accuracy_score(yPred, y_test))

    return model

# Run your model
model = decisionTree(X_train, X_test, y_train, y_test)

Training Accuracy: 0.8295454545454546
Test Accuracy: 0.7603686635944701

In [47]:
# Now make predictions with the returned model
new_data = [[1, 1, 0, 1, 0, 5000, 2000, 120, 360, 1, 2]]
prediction = model.predict(new_data)
print("Loan Status Prediction:", prediction)

Loan Status Prediction: [1]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [48]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [49]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [50]:
# @title Default title text
model = Sequential()

# Input layer and the first hidden layer
model.add(Dense(units=16, activation='relu', input_dim=X_train.shape[1]))

# Second hidden layer
model.add(Dense(units=8, activation='relu'))

# Output layer (binary classification)
model.add(Dense(units=1, activation='sigmoid'))

# Compile the ANN
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

14/14  1s 3ms/step - accuracy: 0.5863 - loss: 0.6705
Epoch 2/100
14/14  0s 2ms/step - accuracy: 0.5787 - loss: 0.6681
Epoch 3/100
14/14  0s 2ms/step - accuracy: 0.6602 - loss: 0.6408
Epoch 4/100
14/14  0s 2ms/step - accuracy: 0.6675 - loss: 0.6403
Epoch 5/100
14/14  0s 2ms/step - accuracy: 0.7070 - loss: 0.6107
Epoch 6/100
14/14  0s 2ms/step - accuracy: 0.7248 - loss: 0.6073
Epoch 7/100
14/14  0s 3ms/step - accuracy: 0.7656 - loss: 0.5781
Epoch 8/100
14/14  0s 2ms/step - accuracy: 0.7414 - loss: 0.5883
Epoch 9/100
14/14  0s 2ms/step - accuracy: 0.7927 - loss: 0.5358
Epoch 10/100
14/14  0s 2ms/step - accuracy: 0.7655 - loss: 0.5437
Epoch 11/100
14/14  0s 2ms/step - accuracy: 0.7887 - loss: 0.5126
Epoch 12/100
14/14  0s 2ms/step - accuracy: 0.8156 - loss: 0.4883
Epoch 13/100
14/14  0s 2ms/step - accuracy: 0.7913 - loss: 0.4988
Epoch 14/100
14/14  0s 2ms/step - accuracy: 0.7844 - loss: 0.4684
Epoch 15/100
14/14  0s 2ms/step - accuracy: 0.8105 - loss: 0.4582
Epoch 16/100
14/14  0s 2ms/step - accuracy: 0.7953 - loss: 0.4592
Epoch 17/100
14/14  0s 2ms/step - accuracy: 0.7867 - loss: 0.4612
Epoch 18/100
14/14  0s 3ms/step - accuracy: 0.8094 - loss: 0.4249
Epoch 19/100
14/14  0s 3ms/step - accuracy: 0.8110 - loss: 0.4297
Epoch 20/100
14/14  0s 3ms/step - accuracy: 0.8201 - loss: 0.4321
Epoch 21/100
14/14  0s 3ms/step - accuracy: 0.8450 - loss: 0.3939
Epoch 22/100
14/14  0s 2ms/step - accuracy: 0.8093 - loss: 0.4168
Epoch 23/100
14/14  0s 2ms/step - accuracy: 0.7979 - loss: 0.4298
Epoch 24/100
14/14  0s 2ms/step - accuracy: 0.8141 - loss: 0.3938
Epoch 25/100
14/14  0s 2ms/step - accuracy: 0.8124 - loss: 0.4054
Epoch 26/100
14/14  0s 2ms/step - accuracy: 0.8261 - loss: 0.3826
Epoch 27/100
14/14  0s 2ms/step - accuracy: 0.8245 - loss: 0.3897
Epoch 28/100
14/14  0s 2ms/step - accuracy: 0.8203 - loss: 0.3962
Epoch 29/100
14/14  0s 2ms/step - accuracy: 0.8144 - loss: 0.4085
Epoch 30/100
14/14  0s 3ms/step - accuracy: 0.8242 - loss: 0.3864
Epoch 31/100
14/14  0s 3ms/step - accuracy: 0.8350 - loss: 0.3694
Epoch 32/100
14/14  0s 3ms/step - accuracy: 0.8435 - loss: 0.3550
Epoch 33/100
14/14  0s 2ms/step - accuracy: 0.8479 - loss: 0.3673
Epoch 34/100
14/14  0s 3ms/step - accuracy: 0.8327 - loss: 0.3956
Epoch 35/100
14/14  0s 2ms/step - accuracy: 0.8438 - loss: 0.3635
Epoch 36/100
14/14  0s 2ms/step - accuracy: 0.8373 - loss: 0.3754
Epoch 37/100
14/14  0s 2ms/step - accuracy: 0.8370 - loss: 0.3838
Epoch 38/100
14/14  0s 2ms/step - accuracy: 0.8444 - loss: 0.3791
Epoch 39/100
14/14  0s 2ms/step - accuracy: 0.8212 - loss: 0.4021
Epoch 40/100
14/14  0s 2ms/step - accuracy: 0.8477 - loss: 0.3506
Epoch 41/100
14/14  0s 3ms/step - accuracy: 0.8431 - loss: 0.3565
Epoch 42/100
14/14  0s 3ms/step - accuracy: 0.8502 - loss: 0.3638
Epoch 43/100
14/14  0s 3ms/step - accuracy: 0.8481 - loss: 0.3470
Epoch 44/100
14/14  0s 2ms/step - accuracy: 0.8329 - loss: 0.3672
Epoch 45/100
14/14  0s 2ms/step - accuracy: 0.8213 - loss: 0.3807
Epoch 46/100
14/14  0s 2ms/step - accuracy: 0.8317 - loss: 0.3708
Epoch 47/100
14/14  0s 2ms/step - accuracy: 0.8322 - loss: 0.3757
Epoch 48/100
14/14  0s 2ms/step - accuracy: 0.8615 - loss: 0.3450
Epoch 49/100
14/14  0s 2ms/step - accuracy: 0.8156 - loss: 0.3890
Epoch 50/100
14/14  0s 2ms/step - accuracy: 0.8265 - loss: 0.3680
Epoch 51/100
14/14  0s 2ms/step - accuracy: 0.8708 - loss: 0.3256
Epoch 52/100
14/14  0s 2ms/step - accuracy: 0.8236 - loss: 0.3839
Epoch 53/100
14/14  0s 2ms/step - accuracy: 0.8239 - loss: 0.3933
Epoch 54/100
14/14  0s 2ms/step - accuracy: 0.8209 - loss: 0.3830
Epoch 55/100
14/14  0s 3ms/step - accuracy: 0.8384 - loss: 0.3610
Epoch 56/100
14/14  0s 3ms/step - accuracy: 0.8336 - loss: 0.3691
Epoch 57/100
14/14  0s 2ms/step - accuracy: 0.8481 - loss: 0.3283
Epoch 58/100
14/14  0s 2ms/step - accuracy: 0.8653 - loss: 0.3359
Epoch 59/100
14/14  0s 2ms/step - accuracy: 0.8373 - loss: 0.3661
Epoch 60/100
14/14  0s 2ms/step - accuracy: 0.8487 - loss: 0.3515
Epoch 61/100
14/14  0s 2ms/step - accuracy: 0.8489 - loss: 0.3497
Epoch 62/100
14/14  0s 2ms/step - accuracy: 0.8454 - loss: 0.3497
Epoch 63/100
14/14  0s 2ms/step - accuracy: 0.8405 - loss: 0.3502
Epoch 64/100
14/14  0s 2ms/step - accuracy: 0.8516 - loss: 0.3632
Epoch 65/100
14/14  0s 2ms/step - accuracy: 0.8363 - loss: 0.3752
Epoch 66/100
14/14  0s 2ms/step - accuracy: 0.8484 - loss: 0.3665
Epoch 67/100
14/14  0s 3ms/step - accuracy: 0.8667 - loss: 0.3056
Epoch 68/100
14/14  0s 2ms/step - accuracy: 0.8572 - loss: 0.3652
Epoch 69/100
14/14  0s 4ms/step - accuracy: 0.8740 - loss: 0.3376
Epoch 70/100
14/14  0s 4ms/step - accuracy: 0.8404 - loss: 0.3557
Epoch 71/100
14/14  0s 4ms/step - accuracy: 0.8687 - loss: 0.3590
Epoch 72/100
14/14  0s 4ms/step - accuracy: 0.8366 - loss: 0.3677
Epoch 73/100
14/14  0s 3ms/step - accuracy: 0.8639 - loss: 0.3270
Epoch 74/100
14/14  0s 4ms/step - accuracy: 0.8642 - loss: 0.3234
Epoch 75/100
14/14  0s 3ms/step - accuracy: 0.8618 - loss: 0.3327
Epoch 76/100
14/14  0s 6ms/step - accuracy: 0.8594 - loss: 0.3261
Epoch 77/100
14/14  0s 4ms/step - accuracy: 0.8608 - loss: 0.3274
Epoch 78/100
14/14  0s 3ms/step - accuracy: 0.8623 - loss: 0.3225
Epoch 79/100
14/14  0s 3ms/step - accuracy: 0.8672 - loss: 0.3229
Epoch 80/100
14/14  0s 3ms/step - accuracy: 0.8810 - loss: 0.3212
Epoch 81/100
14/14  0s 3ms/step - accuracy: 0.8529 - loss: 0.3335
Epoch 82/100
14/14  0s 3ms/step - accuracy: 0.8394 - loss: 0.3509
Epoch 83/100
14/14  0s 3ms/step - accuracy: 0.8663 - loss: 0.3249
Epoch 84/100
14/14  0s 6ms/step - accuracy: 0.8566 - loss: 0.3147
Epoch 85/100
14/14  0s 3ms/step - accuracy: 0.8711 - loss: 0.3080
Epoch 86/100
14/14  0s 3ms/step - accuracy: 0.8633 - loss: 0.3271
Epoch 87/100
14/14  0s 4ms/step - accuracy: 0.8575 - loss: 0.3191
Epoch 88/100
14/14  0s 3ms/step - accuracy: 0.8650 - loss: 0.3140
Epoch 89/100
14/14  0s 4ms/step - accuracy: 0.8661 - loss: 0.3174
Epoch 90/100
14/14  0s 4ms/step - accuracy: 0.8938 - loss: 0.2864
Epoch 91/100
14/14  0s 4ms/step - accuracy: 0.8902 - loss: 0.2828
Epoch 92/100
14/14  0s 3ms/step - accuracy: 0.8852 - loss: 0.2848
Epoch 93/100
14/14  0s 3ms/step - accuracy: 0.8661 - loss: 0.3145
Epoch 94/100
14/14  0s 2ms/step - accuracy: 0.8655 - loss: 0.3104
Epoch 95/100
14/14  0s 3ms/step - accuracy: 0.8727 - loss: 0.2956
Epoch 96/100
14/14  0s 2ms/step - accuracy: 0.8606 - loss: 0.3089
Epoch 97/100
14/14  0s 2ms/step - accuracy: 0.8680 - loss: 0.3425
Epoch 98/100
14/14  0s 2ms/step - accuracy: 0.8832 - loss: 0.2993
Epoch 99/100
14/14  0s 2ms/step - accuracy: 0.8917 - loss: 0.2946
Epoch 100/100
14/14  0s 3ms/step - accuracy: 0.8648 - loss: 0.3185

In [51]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy}")

7/7  0s 2ms/step - accuracy: 0.7932 - loss: 0.5001
Test Accuracy: 0.7880184054374695

In [ ]:
def get_manual_input():
    print("Please enter the following details for loan prediction:")
    Gender = int(input("Gender (0: Female, 1: Male): "))
    Married = int(input("Married (0: No, 1: Yes): "))
    Dependents = int(input("Dependents (0, 1, 2, 3): "))
    Education = int(input("Education (0: Graduate, 1: Not Graduate): "))
    Self_Employed = int(input("Self Employed (0: No, 1: Yes): "))
    ApplicantIncome = float(input("Applicant Income: "))
    CoapplicantIncome = float(input("Coapplicant Income: "))
    LoanAmount = float(input("Loan Amount: "))
    Loan_Amount_Term = float(input("Loan Amount Term: "))
    Credit_History = int(input("Credit History (0: No, 1: Yes): "))
    Property_Area = int(input("Property Area (0: Rural, 1: Semiurban, 2: Urban): "))

    return [[Gender, Married, Dependents, Education, Self_Employed,
             ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term,
             Credit_History, Property_Area]]
new_data1 = get_manual_input()
new_data_scaled1 = scaler.transform(new_data1)

In [ ]:
# Make prediction
prediction = model.predict(new_data_scaled1)
prediction = (prediction > 0.5)  # Convert probability to binary (0 or 1)
print("Loan Status Prediction (1: Approved, 0: Not Approved):", prediction[0][0])